:root {
    --color-header: #393939;
    --color-section: #eeeeee;
    --color-green: #72faa3;
    --color-blue: #8be8f6;
    --color-yellow: #f8f367;
    --color-purple: #a600ff;
}

body {
    display: grid;
    font-family: sans-serif;
}

header {
    display: flex;
    height: auto;
    color: #ffffff;
    background-color: var(--color-header);
}

header h1 {
    margin-left: 1em;
    font-size: 1.7rem;
}

main {
    display: grid;
    justify-content: center;
}

section {
    width: 70vw;
    margin-top: 20px;
    padding: 2rem;
    border-radius: 0.6rem;
    background-color: var(--color-section);
    text-align: center;
}

select {
    padding: 0.8rem;
    width: 90%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.product {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.product img {
    width: 100%;
}

.btn {
    padding: 1em;
    border: none;
    border-radius: 10px;
    max-height: 4em;
}

#specList {
    list-style: none;
    text-align: start;
}

.green {
    background-color: var(--color-green);
}

.blue {
    background-color: var(--color-blue);
}

.yellow {
    background-color: var(--color-yellow);
}

.purple {
    background-color: var(--color-purple);
    color: #ffffff;
}

@media only screen and (min-width: 785px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header header"
                             "main main";
    }
    header {
        grid-area: header;
    }
    main {
        grid-area: main;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "user work laptops"
                             "product product product";
    }

    section {
        width: 20vw;
        margin: 20px auto 20px auto
    }

    .user {
        grid-area: user;
    }

    .work {
        grid-area: work;
    }
    .laptops {
        grid-area: laptops;
    }
    .product {
        grid-area: product;
        width: 70vw;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    .product img {
        width: 200px;
    }
}